.mainContainer {
    display: flex;
    width: 100%;
    position: relative;
    gap: 10px;
}

.container {
    height: auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px grey;
    margin: 30px 0;
}
.containerheading {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}

.date {
    color: grey;
    font-size: 10px;
    margin-right: 10px;
}

.timeBox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.arrowImage {
    margin-left: 5px;
}

.date2 {
    margin-left: 15px;
}

.itemList {
    color: rgb(134, 134, 134);
    font-size: 12px;
}

.listBox {
    display: flex;
    font-size: 12px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.itemboxcheckbox{
    display: flex;
    gap: 8px;
    align-items: center;
}

.addItemtext {
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.itembox1 {
    flex: 1;
    display: flex;
    padding: 10px;
    border-radius: 7px;
    background-color: #EBE8FC;
    justify-content: space-between;
}

.itembox2 {
    flex: 1;
    height: 20px;
    display: flex;
    padding: 4px;
    border-radius: 7px;
    background-color: #EBE8FC;
    margin-left: 6px;
    justify-content: space-between;
}

.Item {
    font-size: 10px;
    margin-top: 4px;
}

@media (max-width: 1350px) {
    .mainContainer {
        flex-wrap: wrap;
    }
    .container {
        width: 100%;
    }
}