.container {
    /* height: 200px; */
    width: 500px;
    height: 100%;
    border-radius: 10px;
    background-image: url('./../../../assets/card.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.upperBox {
    font-weight: bold;
    font-size: 17px;
}

.VisaText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.downBox {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 20px;
}

.containerflex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.text {
    font-size: 15px;
    font-weight: bold;
    margin-top: "6px";
}

@media (max-width: 1350px) {
    .container {
        width: 100%;
    }

    .downBox {
        top: 0px;
    }
}