.footer_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.single_container_first {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    flex-grow: 2;
    background-color: #ffff;
    border-radius: 16px;
    height: 300px;
    overflow-x: scroll;
}

.single_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.item_fourth_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;

    width: 95%;
    padding: 20px;
}

.item_fifth_first {
    display: flex;
    align-items: center;
    gap: 10px
}

.item_sixth_first {
    border-radius: 50%;
    border: 2px solid rgb(122, 122, 122);
    width: 40px;
    height: 40px;
}

.item_seventh_first {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.item_eight_first {
    flex-grow: 1;
    padding: 20px;
    background: #ffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.item_nine_first {
    display: flex;
    justify-content: space-between;
}

.item_ten_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item_eleven_first {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    gap: 10px;
}

.item_twelth_first {
    display: flex;
    align-items: center;
    gap: 6px
}

.item_thirteen_first {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.item_fourteen_first {
    font-weight: bold;
    margin-bottom: 20px
}

.item_fifteen_first {
    display: flex;
    gap: 10px
}

.item_fifteen_first span{
    cursor: pointer;
}

@media (max-width: 1350px) {
    .footer_container {
        flex-wrap: wrap;
    }
}